<header class="p-4 shadow flex justify-between items-center" style="background-color: #ebf8ff;">
  <%= link_to root_path, class: "text-2xl font-bold text-gray-700" do %>
    Alone-D-Record
  <% end %>
  <label for="sidebar-toggle" class="text-gray-700 text-2xl cursor-pointer ml-auto">&#9776;</label>
</header>
