<header>
  <nav class="navbar navbar-light bg-light p-3">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag 'logo.png', alt: 'Alone-D-Record ロゴ', height: '40' %>
    <% end %>
  </nav>
</header>
